VITE_SUPABASE_URL=your_supabase_url
VITE_SUPABASE_ANON_KEY=your_anon_key
# Api 1 - 生成日期: yyyy-mm-dd - 有效期30天 (过期日期)
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key
# Api 2 - 生成日期: yyyy-mm-dd - 有效期30天 (过期日期)
SUPABASE_PERSONAL_ACCESS_TOKEN=your_personal_access_token
